<div id="timetable">
	<div class="background_conf"<%= image_tag("pexels-photo-26500__1_.jpg") %>
		<ul>
				<li id="containee"><%= image_tag("ephrem_tn.jpg", :class => "thumbnail-pic") %> 9.00am Ephrem Akele -</li>
				<li id="containee"><%= image_tag("stephen_tn.jpg", :class => "thumbnail-pic") %> 9.45am Stephen Khoo - </li>
				<li id="containee"><%= image_tag("mtea_tn.jpg", :class => "thumbnail-pic") %> 10.30am Morning Tea</li>
				<li id="containee"><%= image_tag("yogi_tn.jpg", :class => "thumbnail-pic") %> 11.00am Yogi - </li>
				<li id="containee"><%= image_tag("luke_tn.jpg", :class => "thumbnail-pic") %> 11.45am Luke Phelan - </li>
				<li id="containee"><%= image_tag("lunch_tn.jpg", :class => "thumbnail-pic") %> 12.30pm Lunch</li>
				<li id="containee"><%= image_tag("brad_tn.jpg", :class => "thumbnail-pic") %> 1.00pm Brad Wynter - </li>
				<li id="containee"><%= image_tag("yang_tn.jpg", :class => "thumbnail-pic") %> 1.45pm Yang Li - </li>
				<li id="containee"><%= image_tag("mark_tn.jpg", :class => "thumbnail-pic") %> 2.30am Mark Cronje - </li>
				<li id="containee"><%= image_tag("atea_tn.jpg", :class => "thumbnail-pic") %> 3.15pm Afternoon Tea</li>
				<li id="containee"><%= image_tag("thomas_tn.jpg", :class => "thumbnail-pic") %> 3.30pm Thomas Kanze - </li>
				<li id="containee"><%= image_tag("niall.jpg", :class => "thumbnail-pic") %> 4.15pm Niall O'Callaghan - </li>
				<li id="containee"><%= image_tag("drinks_tn.jpg", :class => "thumbnail-pic") %> 5.00pm Event drinks at the bar</li>
		</ul>
	</div>
</div>


<!-- <section id="cd-timeline">
	<div class="cd-timeline-block">

		<div class="cd-timeline-img">
			<img src="/assets/ephrem_tn.jpg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2>Ephrem Speaks</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
			<a href="#0" class="cd-read-more">Read more</a>
			<span class="cd-date">Jan 14</span>
		</div>
	</div>

	<div class="cd-timeline-block">
		<!-- ... -->
	<!-- </div>
</section>  -->
