<h1>Speakers</h1>
<div id="Profile">
<div class="container">

  <div class="grid-element">
  <h2>Thomas Kanze</h2>
    <%= image_tag("thomas.jpg", :class => "profile-pic") %>
    <h3>Web Developer</h3>
    <p class="speaker-topic"><strong>Topic: </strong>Ember</p>
  </div>

  <div class="grid-element">
    <h2>Luke Phelan</h2>
    <%= image_tag("luke.jpg", :class => "profile-pic") %>
    <h3>Web Developer</h3>
    <p class="speaker-topic"><strong>Topic: </strong>Python Slackbots</p>
  </div>

  <div class="grid-element">
    <h2>Yogi</h2>
    <%= image_tag("yogi.jpg", :class => "profile-pic") %>
    <h3>Web Developer</h3>
    <p class="speaker-topic"><strong>Topic: </strong>Ruby on Rails</p>
  </div>

  <div class="grid-element">
    <h2>Stephen Koo</h2>
    <%= image_tag("stephen.jpg", :class => "profile-pic") %>
    <h3>Web Developer</h3>
    <p class="speaker-topic"><strong>Topic: </strong>Websockets</p>
  </div>

  <div class="grid-element">
    <h2>Ephrem Akele</h2>
    <%= image_tag("ephrem.jpg", :class => "profile-pic") %>
    <h3>Web Developer</h3>
    <p class="speaker-topic"><strong>Topic: </strong>Linux</p>
  </div>

  <div class="grid-element">
    <h2>Mark Cronje</h2>
    <%= image_tag("mark.jpg", :class => "profile-pic") %>
    <h3>Web Developer</h3>
    <p class="speaker-topic"><strong>Topic: </strong>Technology in the real estate sector</p>
  </div>

  <div class="grid-element">
    <h2>Brad Wynter</h2>
    <%= image_tag("brad.jpg", :class => "profile-pic") %>
    <h3>Web Developer</h3>
    <p class="speaker-topic"><strong>Topic: </strong>Innovation in the Government sector</p>
  </div>

  <div class="grid-element">
    <h2>Yang Li</h2>
    <%= image_tag("yang.jpg", :class => "profile-pic") %>
    <h3>Instructor</h3>
    <p class="speaker-topic"><strong>Topic: </strong>Teaching as Learning</p>
  </div>

  <div class="grid-element">
    <h2>Chris McCorry</h2>
    <%= image_tag("chris.jpg", :class => "profile-pic") %>
    <h3>Instructor</h3>
    <p class="speaker-topic"><strong>Topic: </strong>Cross-Platform Tech Implementation</p>
  </div>

  <div class="grid-element">
    <h2>Jason Low</h2>
    <%= image_tag("jason.jpg", :class => "profile-pic") %>
    <h3>Instructor</h3>
    <p class="speaker-topic"><strong>Topic: </strong>Technology in the NBA</p>
  </div>

  <div class="grid-element">
    <h2>Niall O'Callaghan</h2>
    <%= image_tag("niall.jpg", :class => "profile-pic") %>
    <h3>Instructor</h3>
    <p class="speaker-topic"><strong>Topic: </strong>Web Development in the Construction Sector</p>
  </div>

  <div class="grid-element">
    <h2>Joel Brewster</h2>
    <%= image_tag("joel.jpg", :class => "profile-pic") %>
    <h3>Instructor</h3>
    <p class="speaker-topic"><strong>Topic: </strong>Building Music Interfaces</p>
  </div>

  <div class="grid-element">
    <h2>Peter Daniel</h2>
    <%= image_tag("peter.jpg", :class => "profile-pic") %>
    <h3>Instructor</h3>
    <p class="speaker-topic"><strong>Topic: </strong>Modern Web Design</p>
  </div>

  <div class="grid-element">
    <h2>Will Guan</h2>
    <%= image_tag("will.jpg", :class => "profile-pic") %>
    <h3>Instructor</h3>
    <p class="speaker-topic"><strong>Topic: </strong>Gaming Tech into the Future</p>
  </div>

</div>
</div>
