<div id="Profile">
<h1 id=speakers-header>Speakers</h1>

<div class="container">

  <div class="grid-element">
    <%= image_tag("ephrem.jpg", :class => "profile-pic", :id => "ephrem-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Ephrem Akele</h2>
    <span class="profile-title">Web Developer</span>
    </div>
  </div>

  <div class="modal-speaker" id="modal-ephrem">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Ephrem Akele</h3>
      <p><i>- Security Concerns of a Front-End Framework -</i></p>
      <p>With a CS degree from Addis Ababa University, Ephrem undertook the
        Web Development Immersive Progam at General Assembly in 2016.</p>
      <p class="modal-link"><a href="https://github.com/eakele"><img src="http://svgporn.com/logos/github-icon.svg" class="github-logo"></a>&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="https://www.linkedin.com/in/ephremakele"><img src="http://svgporn.com/logos/linkedin.svg" class="linkedin-logo"></a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("stephen.jpg", :class => "profile-pic", :id => "stephen-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Stephen Koo</h2>
    <span class="profile-title">Web Developer</span>
    </div>
  </div>

  <div class="modal-speaker" id="modal-stephen">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Stephen Koo</h3>
      <p><i>- Pokemon Go and the Future of Augmented Reality -</i></p>
      <p>Having experience working on the product teams of two emerging web
        businesses, Stephen bring an excellent technical understanding to
        product management positions, particularly for web products and online
        marketplaces.</p>
      <p><a href="https://github.com/stephenkoo"><img src="http://svgporn.com/logos/github-icon.svg" class="github-logo"></a>&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="https://www.linkedin.com/in/stephenkoo"><img src="http://svgporn.com/logos/linkedin.svg" class="linkedin-logo"></a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("yogi.jpg", :class => "profile-pic", :id => "yogi-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Yogi</h2>
    <span class="profile-title">Web Developer</span>
    </div>
  </div>

  <div class="modal-speaker" id="modal-yogi">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Yogi</h3>
      <p><i>- Gamifying Your Working life -</i></p>
      <p>A keen web developer with experience in creating responsive websites
        and functional web applications. Most of Yogi's development experience
        has been with object oriented languages (Ruby, Javascript), frameworks
        and libraries (Rails, EmberJS, jQuery, AngularJS), as well as front end
        HTML5 and CSS3 markup.</p>
      <p><a href="https://github.com/Yogibeer2001"><img src="http://svgporn.com/logos/github-icon.svg" class="github-logo"></a>&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="https://www.linkedin.com/in/thomas-langnickel"><img src="http://svgporn.com/logos/linkedin.svg" class="linkedin-logo"></a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("luke.jpg", :class => "profile-pic", :id => "luke-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Luke Phelan</h2>
    <span class="profile-title">Web Developer</span>

    </div>
  </div>

  <div class="modal-speaker" id="modal-luke">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Luke Phelan</h3>
      <p><i>- Machine Learning with TensorFlow -</i></p>
      <p>A mechanical engineer who brings a knowledge of real-world engineering
      to the world of web development.</p>
      <p><a href="https://github.com/lukephelan"><img src="http://svgporn.com/logos/github-icon.svg" class="github-logo"></a>&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="https://au.linkedin.com/in/lukegphelan"><img src="http://svgporn.com/logos/linkedin.svg" class="linkedin-logo"></a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("brad.jpg", :class => "profile-pic", :id => "brad-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Brad Wynter</h2>
    <span class="profile-title">Web Developer</span>
    </div>
  </div>

  <div class="modal-speaker" id="modal-brad">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Brad Wynter</h3>
      <p><i>- Event Programming Design for Real-World Problems -</i></p>
      <p>Citizen centric smart city strategist and multi-award winning
        intelligent city implementer. Brad have been an effective advocate for
        optic fibre broadband being rolled out in the local community and it
        being effectively utilised to improve both business and local residents
        lives.</p>
      <p><a href="https://github.com/brawyn77"><img src="http://svgporn.com/logos/github-icon.svg" class="github-logo"></a>&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="https://www.linkedin.com/in/brad-wynter-89b105"><img src="http://svgporn.com/logos/linkedin.svg" class="linkedin-logo"></a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("yang.jpg", :class => "profile-pic", :id => "yang-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Yang Li</h2>
    <span class="profile-title">Teaching Assistant</span>
    </div>
  </div>

  <div class="modal-speaker" id="modal-yang">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Yang Li</h3>
      <p><i>- Teaching as a Means of Learning -</i></p>
      <p>A keen web developer with experience in creating responsive websites
        and functional web applications. Most of my development experience has
        been with object oriented languages (Ruby, Javascript), frameworks and
        libraries (Rails, AngularJS, jQuery), as well as front end HTML and CSS3
         markup.</p>
      <p><a href="https://github.com/aussieyang"><img src="http://svgporn.com/logos/github-icon.svg" class="github-logo"></a>&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="https://www.linkedin.com/in/fullstackyang"><img src="http://svgporn.com/logos/linkedin.svg" class="linkedin-logo"></a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("mark.jpg", :class => "profile-pic", :id => "mark-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Mark Cronje</h2>
    <span class="profile-title">Web Developer</span>
    </div>
  </div>

  <div class="modal-speaker" id="modal-mark">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Mark Cronje</h3>
      <p><i>- Automation and the Luddites -</i></p>
      <p>With a background in Real-Estate consulting at Deloitte, Mark is
      combining his expertise in real-estate with web development.</p>
      <p><a href="https://github.com/markcronje"><img src="http://svgporn.com/logos/github-icon.svg" class="github-logo"></a>&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="https://www.linkedin.com/in/markcronje"><img src="http://svgporn.com/logos/linkedin.svg" class="linkedin-logo"></a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("thomas.jpg", :class => "profile-pic", :id => "thomas-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Thomas Kanze</h2>
    <!-- <span class="profile-title">Web Developer</span> -->
    </div>
  </div>

  <div class="modal-speaker" id="modal-thomas">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Thomas Kanze</h3>
      <p><i>- How VR Will Shape The World of Tomorrow -</i></p>
      <p>Thomas is a world traveller and an entrepreneurial nomad.</p>
      <p><a href="https://github.com/apwn"><img src="http://svgporn.com/logos/github-icon.svg" class="github-logo"></a>&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="https://www.linkedin.com/in/thomaskanze"><img src="http://svgporn.com/logos/linkedin.svg" class="linkedin-logo"></a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("niall.jpg", :class => "profile-pic", :id => "niall-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Niall O'Callaghan</h2>
    <span class="profile-title">Web Developer</span>
    </div>
  </div>

  <div class="modal-speaker" id="modal-niall">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Niall O'Callaghan</h3>
      <p><i>- Developing Web Applications for Structural Engineers -</i></p>
      <p>Niall is a structural engineer who saw a gap in the market and created
      his own product, ViewPro.</p>
      <p><a href="https://github.com/noccer2016"><img src="http://svgporn.com/logos/github-icon.svg" class="github-logo"></a>&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="https://www.linkedin.com/in/niall-o-callaghan-webdev"><img src="http://svgporn.com/logos/linkedin.svg" class="linkedin-logo"></a></p>
    </div>
  </div>

</div>
<div id="seats"></div>
</div>
