<div id="Profile">
<h1 id=speakers-header>Speakers</h1>

<div class="container">

  <div class="grid-element">

    <%= image_tag("thomas.jpg", :class => "profile-pic", :id => "thomas-pic") %>
    <h2>Thomas Kanze</h2>
  </div>

  <div class="modal" id="modal-thomas">
    <div class="modal-content">
      <span class="close">×</span>
      <p>Stuff about Thomas</p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("luke.jpg", :class => "profile-pic", :id => "luke-pic") %>

    <h2>Luke Phelan</h2>
  </div>

  <!-- <div class="modal-content">
    <span class="close">×</span>
    <p>Stuff about Luke</p>
  </div> -->

  <div class="grid-element">

    <%= image_tag("yogi.jpg", :class => "profile-pic", :id => "yogi-pic") %>
    <h2>Yogi</h2>
  </div>
<!--
  <div class="modal-content">
    <span class="close">×</span>
    <p>Stuff about Yogi</p>
  </div> -->

  <div class="grid-element">

    <%= image_tag("stephen.jpg", :class => "profile-pic", :id => "stephen-pic") %>
    <h2>Stephen Koo</h2>
  </div>

  <!-- <div class="modal-content">
    <span class="close">×</span>
    <p>Stuff about Stephen</p>
  </div> -->

  <div class="grid-element">

    <%= image_tag("ephrem.jpg", :class => "profile-pic", :id => "ephrem-pic") %>
    <h2>Ephrem Akele</h2>
  </div>

  <!-- <div class="modal-content">
    <span class="close">×</span>
    <p>Stuff about Ephrem</p>
  </div> -->

  <div class="grid-element">

    <%= image_tag("mark.jpg", :class => "profile-pic", :id => "mark-pic") %>
    <h2>Mark Cronje</h2>
  </div>

  <!-- <div class="modal-content">
    <span class="close">×</span>
    <p>Stuff about Mark</p>
  </div> -->

  <div class="grid-element">

    <%= image_tag("brad.jpg", :class => "profile-pic", :id => "brad-pic") %>
    <h2>Brad Wynter</h2>
  </div>

  <!-- <div class="modal-content">
    <span class="close">×</span>
    <p>Stuff about Brad</p>
  </div> -->

  <div class="grid-element">

    <%= image_tag("yang.jpg", :class => "profile-pic", :id => "yang-pic") %>
    <h2>Yang Li</h2>
  </div>

  <!-- <div class="modal-content">
    <span class="close">×</span>
    <p>Stuff about Yang</p>
  </div> -->

</div>
</div>
