<div id="Profile">
<h1 id=speakers-header>Speakers</h1>

<div class="container">

  <div class="grid-element">
    <%= image_tag("ephrem.jpg", :class => "profile-pic", :id => "ephrem-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Ephrem Akele</h2>
    <span class="profile-title">Web Developer</span>
    </div>
  </div>

  <div class="modal" id="modal-ephrem">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Ephrem Akele</h3>
      <p><i>Security Concerns of a Front-End Framework</i></p>
      <p class="modal-link"><a href="https://github.com/eakele">GitHub</a></p>
      <p><a href="https://www.linkedin.com/in/ephremakele">LinkedIn</a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("stephen.jpg", :class => "profile-pic", :id => "stephen-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Stephen Koo</h2>
    <span class="profile-title">Web Developer</span>
    </div>
  </div>

  <div class="modal" id="modal-stephen">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Stephen Koo</h3>
      <p><i>Pokemon Go and the Future of Augmented Reality</i></p>
      <p><a href="https://github.com/stephenkoo">GitHub</a></p>
      <p><a href="https://www.linkedin.com/in/stephenkoo">LinkedIn</a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("yogi.jpg", :class => "profile-pic", :id => "yogi-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Yogi</h2>
    <span class="profile-title">Web Developer</span>
    </div>
  </div>

  <div class="modal" id="modal-yogi">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Yogi</h3>
      <p><i>Gamifying Your Working life</i></p>
      <p><a href="https://github.com/Yogibeer2001">GitHub</a></p>
      <p><a href="https://www.linkedin.com/in/thomas-langnickel">LinkedIn</a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("luke.jpg", :class => "profile-pic", :id => "luke-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Luke Phelan</h2>
    <span class="profile-title">Web Developer</span>

    </div>
  </div>

  <div class="modal" id="modal-luke">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Luke Phelan</h3>
      <p><i>Machine Learning with TensorFlow</i></p>
      <p><a href="https://github.com/lukephelan">GitHub</a></p>
      <p><a href="https://au.linkedin.com/in/lukegphelan">LinkedIn</a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("brad.jpg", :class => "profile-pic", :id => "brad-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Brad Wynter</h2>
    <span class="profile-title">Web Developer</span>
    </div>
  </div>

  <div class="modal" id="modal-brad">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Brad Wynter</h3>
      <p><i>Event Programming Design for Real-World Problems</i></p>
      <p><a href="https://github.com/brawyn77">GitHub</a></p>
      <p><a href="https://www.linkedin.com/in/brad-wynter-89b105">LinkedIn</a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("yang.jpg", :class => "profile-pic", :id => "yang-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Yang Li</h2>
    <span class="profile-title">Teaching Assistant</span>
    </div>
  </div>

  <div class="modal" id="modal-yang">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Yang Li</h3>
      <p><i>Teaching as a Means of Learning</i></p>
      <p><a href="https://github.com/aussieyang">GitHub</a></p>
      <p><a href="https://www.linkedin.com/in/fullstackyang">LinkedIn</a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("mark.jpg", :class => "profile-pic", :id => "mark-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Mark Cronje</h2>
    <span class="profile-title">Web Developer</span>
    </div>
  </div>

  <div class="modal" id="modal-mark">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Mark Cronje</h3>
      <p><i>Automation and the Luddites</i></p>
      <p><a href="https://github.com/markcronje">GitHub</a></p>
      <p><a href="https://www.linkedin.com/in/markcronje">LinkedIn</a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("thomas.jpg", :class => "profile-pic", :id => "thomas-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Thomas Kanze</h2>
    <span class="profile-title">Web Developer</span>
    </div>
  </div>

  <div class="modal" id="modal-thomas">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Thomas Kanze</h3>
      <p><i>How VR Will Shape The World of Tomorrow</i></p>
      <p><a href="https://github.com/apwn">GitHub</a></p>
      <p><a href="https://www.linkedin.com/in/thomaskanze">LinkedIn</a></p>
    </div>
  </div>

  <div class="grid-element">
    <%= image_tag("niall.jpg", :class => "profile-pic", :id => "niall-pic") %>
    <div class="profile-text">
    <h2 class="profile-name">Niall O'Callaghan</h2>
    <span class="profile-title">Web Developer</span>
    </div>
  </div>

  <div class="modal" id="modal-niall">
    <div class="modal-content">
      <span class="close">×</span>
      <h3>Niall O'Callaghan</h3>
      <p><i>Developing Web Applications for Structural Engineers</i></p>
      <p><a href="https://github.com/noccer2016">GitHub</a></p>
      <p><a href="https://www.linkedin.com/in/niall-o-callaghan-webdev">LinkedIn</a></p>
    </div>
  </div>

</div>
</div>
