<div id="Profile">
<h1 id=speakers-header>Speakers</h1>

<div class="container">

  <div class="grid-element">
  <h2>Thomas Kanze</h2>
    <div class="profile-shot"><%= image_tag("thomas.jpg", :class => "profile-pic") %></div>
    <h3>Web Developer</h3>
    <p class="speaker-bio">World traveller looking for his next home</p>
  </div>

  <div class="grid-element">
    <h2>Luke Phelan</h2>
    <div class="profile-shot"><%= image_tag("luke.jpg", :class => "profile-pic") %></div>
    <h3>Web Developer</h3>
    <p class="speaker-bio">Engineer turned-developer</p>
  </div>

  <div class="grid-element">
    <h2>Yogi</h2>
    <div class="profile-shot"><%= image_tag("yogi.jpg", :class => "profile-pic") %></div>
    <h3>Web Developer</h3>
    <p class="speaker-bio">Multi-lingual web developer experienced with creating
    responsive websites</p>
  </div>

  <div class="grid-element">
    <h2>Stephen Koo</h2>
    <div class="profile-shot"><%= image_tag("stephen.jpg", :class => "profile-pic") %></div>
    <h3>Web Developer</h3>
    <p class="speaker-bio">I bring an excellent technical understanding to a product management position</p>
  </div>

  <div class="grid-element">
    <h2>Ephrem Akele</h2>
    <div class="profile-shot"><%= image_tag("ephrem.jpg", :class => "profile-pic") %></div>
    <h3>Web Developer</h3>
    <p class="speaker-bio">Software developer experienced in developing web and database applications</p>
  </div>

  <div class="grid-element">
    <h2>Mark Cronje</h2>
    <div class="profile-shot"><%= image_tag("mark.jpg", :class => "profile-pic") %></div>
    <h3>Technologist</h3>
    <p class="speaker-bio">Real estate analyst / full-stack web developer</p>
  </div>

  <div class="grid-element">
    <h2>Brad Wynter</h2>
    <div class="profile-shot"><%= image_tag("brad.jpg", :class => "profile-pic") %></div>
    <h3>Start-Up Entrepreneur</h3>
    <p class="speaker-bio">Multi-award winning innovation manager</p>
  </div>

  <div class="grid-element">
    <h2>Yang Li</h2>
    <div class="profile-shot"><%= image_tag("yang.jpg", :class => "profile-pic") %></div>
    <h3>Instructor</h3>
    <p class="speaker-bio">In-house developer and teaching assistant</p>
  </div>

  <div class="grid-element">
    <h2>Chris McCorry</h2>
    <div class="profile-shot"><%= image_tag("chris.jpg", :class => "profile-pic") %></div>
    <h3>Instructor</h3>
    <p class="speaker-bio">Digital experience specialist</p>
  </div>

  <div class="grid-element">
    <h2>Jason Low</h2>
    <div class="profile-shot"><%= image_tag("jason.jpg", :class => "profile-pic") %></div>
    <h3>Instructor</h3>
    <p class="speaker-bio">Engineer turned developer</p>
  </div>

  <div class="grid-element">
    <h2>Niall O'Callaghan</h2>
    <div class="profile-shot"><%= image_tag("niall.jpg", :class => "profile-pic") %></div>
    <h3>Instructor</h3>
    <p class="speaker-bio">Software entrepreneur</p>
  </div>

  <div class="grid-element">
    <h2>Joel Brewster</h2>
    <div class="profile-shot"><%= image_tag("joel.jpg", :class => "profile-pic") %></div>
    <h3>Instructor</h3>
    <p class="speaker-bio">Full stack developer</p>
  </div>

  <div class="grid-element">
    <h2>Peter Daniel</h2>
    <div class="profile-shot"><%= image_tag("peter.jpg", :class => "profile-pic") %></div>
    <h3>Instructor</h3>
    <p class="speaker-bio">Web developer and graphic designer</p>
  </div>

  <div class="grid-element">
    <h2>Will Guan</h2>
    <div class="profile-shot"><%= image_tag("will.jpg", :class => "profile-pic") %></div>
    <h3>Instructor</h3>
    <p class="speaker-bio">Account turned web developer</p>
  </div>

</div>
</div>
