<div id="Profile">
<h1 id=speakers-header>Speakers</h1>

<div class="container">

  <div class="grid-element">

    <div class="profile-shot"><%= image_tag("thomas.jpg", :class => "profile-pic") %></div>
    <h2>Thomas Kanze</h2>

  </div>

  <div class="grid-element">

    <div class="profile-shot"><%= image_tag("luke.jpg", :class => "profile-pic") %></div>
    <h2>Luke Phelan</h2>

  </div>

  <div class="grid-element">

    <div class="profile-shot"><%= image_tag("yogi.jpg", :class => "profile-pic") %></div>
    <h2>Yogi</h2>

  </div>

  <div class="grid-element">

    <div class="profile-shot"><%= image_tag("stephen.jpg", :class => "profile-pic") %></div>
    <h2>Stephen Koo</h2>

  </div>

  <div class="grid-element">

    <div class="profile-shot"><%= image_tag("ephrem.jpg", :class => "profile-pic") %></div>
    <h2>Ephrem Akele</h2>

  </div>

  <div class="grid-element">

    <div class="profile-shot"><%= image_tag("mark.jpg", :class => "profile-pic") %></div>
    <h2>Mark Cronje</h2>

  </div>

  <div class="grid-element">

    <div class="profile-shot"><%= image_tag("brad.jpg", :class => "profile-pic") %></div>
    <h2>Brad Wynter</h2>

  </div>

  <div class="grid-element">

    <div class="profile-shot"><%= image_tag("yang.jpg", :class => "profile-pic") %></div>
    <h2>Yang Li</h2>

  </div>

</div>
</div>
