<div id="Profile">
<h1 id=speakers-header>Speakers</h1>

<div class="container">

  <div class="grid-element">
    <div class="profile-shot"><%= image_tag("thomas.jpg", :class => "profile-pic", :id => "thomas-pic") %></div>
    <h2>Thomas Kanze</h2>
  </div>

  <!-- <div id="modal-thomas" class="modal">
    <div class="modal-content">
      <span class="close">×</span>
      <p>Stuff about Thomas</p>
    </div>
  </div> -->

  <div class="grid-element">
    <div class="profile-shot"><%= image_tag("luke.jpg", :class => "profile-pic", :id => "luke-pic") %></div>
    <h2>Luke Phelan</h2>
  </div>

  <!-- <div class="modal-content">
    <span class="close">×</span>
    <p>Stuff about Luke</p>
  </div> -->

  <div class="grid-element">
    <div class="profile-shot"><%= image_tag("yogi.jpg", :class => "profile-pic", :id => "yogi-pic") %></div>
    <h2>Yogi</h2>
  </div>
<!--
  <div class="modal-content">
    <span class="close">×</span>
    <p>Stuff about Yogi</p>
  </div> -->

  <div class="grid-element">
    <div class="profile-shot"><%= image_tag("stephen.jpg", :class => "profile-pic", :id => "stephen-pic") %></div>
    <h2>Stephen Koo</h2>
  </div>

  <!-- <div class="modal-content">
    <span class="close">×</span>
    <p>Stuff about Stephen</p>
  </div> -->

  <div class="grid-element">
    <div class="profile-shot"><%= image_tag("ephrem.jpg", :class => "profile-pic", :id => "ephrem-pic") %></div>
    <h2>Ephrem Akele</h2>
  </div>

  <!-- <div class="modal-content">
    <span class="close">×</span>
    <p>Stuff about Ephrem</p>
  </div> -->

  <div class="grid-element">
    <div class="profile-shot"><%= image_tag("mark.jpg", :class => "profile-pic", :id => "mark-pic") %></div>
    <h2>Mark Cronje</h2>
  </div>

  <!-- <div class="modal-content">
    <span class="close">×</span>
    <p>Stuff about Mark</p>
  </div> -->

  <div class="grid-element">
    <div class="profile-shot"><%= image_tag("brad.jpg", :class => "profile-pic", :id => "brad-pic") %></div>
    <h2>Brad Wynter</h2>
  </div>

  <!-- <div class="modal-content">
    <span class="close">×</span>
    <p>Stuff about Brad</p>
  </div> -->

  <div class="grid-element">
    <div class="profile-shot"><%= image_tag("yang.jpg", :class => "profile-pic", :id => "yang-pic") %></div>
    <h2>Yang Li</h2>
  </div>

  <!-- <div class="modal-content">
    <span class="close">×</span>
    <p>Stuff about Yang</p>
  </div> -->

</div>
</div>
