<div id="sponsors-wrapper">
    <fieldset>
        <legend>SPONSORS</legend>

        <ul class="sponsor-level-wrapper">
            <li class="sponsors"><%= image_tag("sponsors/angular-icon.svg")	%></li>
            <li class="sponsors"><%= image_tag("sponsors/atom.svg")	%></li>
            <li class="sponsors"><%= image_tag("sponsors/rails.svg")	%></li>
            <li class="sponsors"><%= image_tag("sponsors/ember.svg")	%></li>
            <li class="sponsors"><%= image_tag("sponsors/sass.svg")	%></li>
            <li class="sponsors"><%= image_tag("sponsors/html-5.svg")	%></li>
            <li class="sponsors"><%= image_tag("sponsors/mdn.svg")	%></li>
            <li class="sponsors"><%= image_tag("sponsors/nodejs.svg")	%></li>
        </ul>
    </fieldset>
</div>



<div class="modal-overlay">
  <div class="modal-info">
    <span class="close-modal">X</span>
      <h2 class="booking-top">BOOKING</h2>
      <div class="booking-amount"><p class="total-amount"></p></div>
      <div class="input-container-payment">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Visa.svg/1280px-Visa.svg.png" />
        <input type="text" placeholder="1000 2345 6532 ****" maxlength="19" />
        <input type="date" name="expiration-date" class="payment-input">
        <input type="text" name="cvv" value="" placeholder="CVV" maxlength="3" class="payment-input"><br>
        <i class="fa fa-btc" aria-hidden="true"> Bitcoin Accepted</i>
        <button type="button" name="button">PAY NOW</button>
      </div>
      <p class="terms">A $500 processing fee may occur. We hope you'll enjoy our conference.</p>
  </div>
</div>
