<div id="sponsors-wrapper">
    <fieldset>
        <legend>SPONSORS</legend>

        <ul class="sponsor-level-wrapper">
            <li class="sponsors"><%= image_tag("sponsors/angular-icon.svg")	%></li>
            <li class="sponsors"><%= image_tag("sponsors/atom.svg")	%></li>
            <li class="sponsors"><%= image_tag("sponsors/rails.svg")	%></li>
            <li class="sponsors"><%= image_tag("sponsors/ember.svg")	%></li>
            <li class="sponsors"><%= image_tag("sponsors/sass.svg")	%></li>
            <li class="sponsors"><%= image_tag("sponsors/html-5.svg")	%></li>
            <li class="sponsors"><%= image_tag("sponsors/mdn.svg")	%></li>
            <li class="sponsors"><%= image_tag("sponsors/nodejs.svg")	%></li>
        </ul>
    </fieldset>
</div>
