<h1>Hello</h1>

<%= render "partials/header" %>
<%= render "partials/splash" %>
<%= render "partials/conference" %>
<%= render "partials/schedule" %>
<%= render "partials/speakers" %>
<%= render "partials/booking" %>
<%= render "partials/seating" %>
<%= render "partials/sponsors" %>
<%= render "partials/footer" %>
